<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Pholio</title>
</head>
<body>
    <div class="border"></div>
    <div class="wrapper">
        <header class="main_header clearfix">
            <div class="logo">
                <img src="../images/logo.png" alt="landing-logo">
                <h1>Phi<span>lio</span></h1>
            </div>
            <div class="nav">
                <a href="#" class="current">All Profile</a>
                <a href="#">Full-Time</a>
                <a href="#">Part-Time</a>
                <a href="#">Freelance</a>
                <a href="#">New Grad</a>
            </div>
        </header>

        <ul id="timeline">

            <li class="alphaOrder"> A </li>

            <a href="#">
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <img src="../images/woman.png" alt="amyyoung">
                    </div>
                    <div class="info">
                        <span class="job_title">Linux Engineer</span>
                        <span class="job_info">Redhat <span>&bull;</span> Dulan <span>&bull;</span> Amy Ali</span>
                    </div>
                    <span class="job_type freelance">Freelance</span>
                </li>
            </a>

            <a href="#">
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <img src="../images/man.svg" alt="aaronchu">
                    </div>
                    <div class="info">
                        <span class="job_title">Linux Architect</span>
                        <span class="job_info">Samsung <span>&bull;</span> Hong Kong <span>&bull;</span> Aaron Chu</span>
                    </div>
                    <span class="job_type full_time">Full-Time</span>
                </li>
            </a>

            <a href="#">
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <img src="../images/lady.png" alt="alisonsmith">
                    </div>
                    <div class="info">
                        <span class="job_title">Web Developer Intern</span>
                        <span class="job_info">Univeristy of Springfield <span>&bull;</span> Springfield <span>&bull;</span> Alison Smith</span>
                    </div>
                    <span class="job_type new_grad">New Grad</span>
                </li>
            </a>

            <a href="#">
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <img src="../images/woman.png" alt="amyyoung">
                    </div>
                    <div class="info">
                        <span class="job_title">Linux Engineer</span>
                        <span class="job_info">Redhat <span>&bull;</span> Dulan <span>&bull;</span> Amy Young</span>
                    </div>
                    <span class="job_type freelance">Freelance</span>
                </li>
            </a>

            <li class="alphaOrder"> J </li>

            <a href="#">
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <img src="../images/girl.png" alt="jennysmith">
                    </div>
                    <div class="info">
                        <span class="job_title">Market Engineer</span>
                        <span class="job_info">Salesforce <span>&bull;</span> New York  <span>&bull;</span> Jenny Smith</span>
                    </div>
                    <span class="job_type part_time">Part-Time</span>
                </li>
            </a>

            <a href="#">
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <img src="../images/boy.png" alt="johndone">
                    </div>
                    <div class="info">
                        <span class="job_title">UX Designer</span>
                        <span class="job_info">Twitter <span>&bull;</span> San Franciso  <span>&bull;</span> John Doe</span>
                    </div>
                    <span class="job_type full_time">Full-Time</span>
                </li>
            </a>

            <div class="load_more">
                <button class="button">Load More</button>
            </div>
        </ul>
    </div>
</body>
</html>